@{
    ViewBag.Title = "关注回复设置";
}
@model Framework.Entity.ES_WeChatConcern
<input type="hidden" name="ID" value="@Model.ID" />
<table class="gridtable" style="margin-top:2px;">
        <tr>
            <td>关注回复开关</td>
            <td>
                <input id="bIsConcernOn" class="easyui-switchbutton" data-options="onText:'开',offText:'关'">
                <input type="hidden" name="bIsConcernOn"/>
            </td>
        </tr>
        <tr>
            <td>回复类型</td>
            <td>
                @Html.Partial("~/Views/Shared/_DictionaryList.cshtml", new Framework.Utility.Models.ItemDictionary() { Name = "iConcernType", Width = 300, Type = "WeChatMsgType",bSelect=true,Required="true"})
            </td>
        </tr>
        <tr>
            <td>图文消息</td>
            <td>
                <input class="easyui-textbox" name="sWeChatNewsName" data-options="width:300" value="@Model.sWeChatNewsName">
                <input type="hidden" name="sWeChatNewsNameId" value="@Model.sWeChatNewsNameId" />
            </td>
        </tr>
        <tr>
            <td>文本内容</td>
            <td>
                <textarea name="sContent" style="height:100px;width:300px;">@Model.sContent</textarea>
            </td>
        </tr>
</table>
<script type="text/javascript">
    $(function () {
        $('input[name=iConcernType]').combobox({
            onLoadSuccess: function () {
                var iConcernType = '@Model.iConcernType';
                if (iConcernType!=0)
                $(this).combobox('setValue', '@Model.iConcernType');
            }
        });
        $('input[name=sWeChatNewsName]').textbox();
        $('#bIsConcernOn').switchbutton({
            onChange: function (checked) {
                if (checked)
                    $('input[name=bIsConcernOn]').val(true);
                else
                    $('input[name=bIsConcernOn]').val(false);
            }
        });

        //开关的默认值设置
        var bIsConcernOn = '@Model.bIsConcernOn'.toLowerCase();
        if (bIsConcernOn == 'true')
            $('#bIsConcernOn').switchbutton('check');
        else
            $('#bIsConcernOn').switchbutton('uncheck');
    });
</script>

